*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Sans-serif'; 
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #d0d6c1;
}

.wrapper{
    background: #92a75b;
    width: 300px;
    padding: 40px;
    border-radius: 6px;
}

