*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Sans-serif'; 
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #d0d6c1;
}

.wrapper{
    background: #92a75b;
    width: 400px;
    padding: 40px;
    border-radius: 6px;
}

.wrapper header{
    font-size: 27px;
    font-weight: 500;
    text-align: center;
}

.wrapper form{
    margin-top: 40px;
}

form :where(input, button, select){
    width: 100%;
}

form p{
    margin-bottom: 6px;
    font-weight: bold;
}

form input{
    height: 35px;
    border: 1px solid #ffff;
    border-radius: 5px;
}

form input:focus{
    padding: 0 14px;
    border: 2px solid #ffff;
}

form .drop-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.drop-list .select-box{
    display: flex;
    width: 115px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffff;
    border-radius: 6px;

}

.select-box select{
    width: auto;
    font-size:16px;
    margin: 0 -5px 0 5px;
    background-color: #92a75b;
    border: #92a75b;
}

.select-box img{
    max-width: 25px;
}